[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==2.2.*"
python-dotenv = "*"
psycopg2-binary = "==2.*"
django-role-permissions = "==2.*"
Pillow = "*"
qrcode = "*"
gunicorn = "*"
libgravatar = "*"
faker = "==1.*"

[dev-packages]
fabric = "==2.*"

[requires]
python_version = "3.7"
