[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==2.2.*"
python-dotenv = "*"
psycopg2-binary = "==2.*"
django-role-permissions = "==2.*"
Pillow = "*"
qrcode = "*"
gunicorn = "*"
libgravatar = "*"
newrelic = "*"
sentry-sdk = "*"
fabric = "==2.*"
faker = "==1.*"
robohash = "==1.0"

[requires]
python_version = "3.7"
