{% extends '_layouts/skeleton.html' %}

{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block head %}
	<style type="text/css">
		html, body {
			height: 100%;
		}

		body {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-4 mx-auto">

				<div class="text-center">
					<i class="fas fa-bug fa-5x"></i>
					<h1 class="h4 mb-3 font-weight-normal">MDNS</h1>
				</div>

				<form method="post">
					{% csrf_token %}

					{% include '_partials/bootstrap/form.html' with form=form %}

					<button type="submit" class="btn btn-primary btn-block">
						<i class="fas fa-sign-in-alt"></i> {% trans "Log in" %}
					</button>
				</form>

			</div>
		</div>
	</div>
{% endblock %}
