{% extends '_layouts/skeleton.html' %}

{% block title %}{{ _("Login") }}{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		body {
			background-color: #DADADA;
		}

		body > .grid {
			height: 100%;
		}

		.image {
			margin-top: -100px;
		}

		.column {
			max-width: 450px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui teal header">MDNS</h2>

			<form class="ui large form" method="post">
				{% csrf_token %}

				{{ form.non_field_errors }}

				{% for hidden_field in form.hidden_fields %}
					{{ hidden_field.errors }}
					{{ hidden_field }}
				{% endfor %}

				<div class="ui stacked segment">
					{% for field in form.visible_fields %}
						<div class="field">
							{{ field.label_tag }}
							<div class="ui error message">{{ field.errors }}</div>
							{{ field }}
							{{ field.help_text }}
						</div>
					{% endfor %}
					<button class="ui fluid large teal submit button" type="submit">Login</button>
				</div>

			</form>
		</div>
	</div>
{% endblock %}
