{% extends '_layouts/base.html' %}

{% load i18n %}

{% block title %}{{ specimen.organism.name }}{% endblock %}

{% block content %}
	<div class="container">

		<div class="row pt-3">
			<div class="col-lg-8">
				<h1>{{ specimen.organism.name }}</h1>
			</div>
			<div class="col-lg-4 text-right">
				<a
					class="btn btn-danger"
					role="button"
					href="{% url 'specimens-remove' specimen.id %}"
				>
					<i class="fas fa-trash"></i> {% trans 'Remove specimen' %}
				</a>

				<a
					class="btn btn-primary"
					role="button"
					href="{% url 'specimens-edit' specimen.id %}"
				>
					<i class="fas fa-edit"></i> {% trans 'Edit specimen' %}
				</a>
			</div>
		</div>

	</div>
{% endblock %}

{% block javascript %}
{% endblock %}
