{% extends '_layouts/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Add specimen' %}{% endblock %}

{% block content %}
	<div class="container">

		<div class="row pt-3">
			<div class="col-lg-8">
				<h1>
					<i class="fas fa-spider"></i>
					{% trans 'Add specimen' %}
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<form
					method="post"
					action="{% if specimen %}{% url 'specimens-edit' specimen.id %}{% else %}{% url 'specimens-add' %}{% endif %}"
				>
					{% csrf_token %}
					{% include '_partials/bootstrap/form.html' with form=form %}
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> {% trans 'Save' %}
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>

		function prefillSelect(element) {
			let selectElement = $(element);

			$.ajax({
				type: 'GET',
				url: window.location,
				data: {
					'selected': selectElement.data('selected'),
					'type': selectElement.attr('name')
				}
			}).then(function (data) {
				let option = new Option(data.items[0].text, data.items[0].id, true, true);
				selectElement.append(option).trigger('change');
				selectElement.trigger({
					type: 'select2:select',
					params: {
						data: data
					}
				});
			});
		}

		$(window).on('load', function () {
			prefillSelect("#id_box");
			prefillSelect("#id_organism");
			prefillSelect("#id_gender");
		});
	</script>
{% endblock %}
